#placeholderimg
{
    display:flex;
  height: 10px;
  width:100px;
}
#headerlinks
{

    display:flex;
    flex-direction:row;
  justify-content: space-between;
    background-color: navy;
    color:pink;
    
}
#link1
{
    color:beige;
}
#link2
{
    color:beige;
}
#link3{
    color:beige;
}
#link4
{
    color:beige;
}
 .hero {
    /* display:grid; */
  background-image:url(Accessibility.jpg) ;
  background-size: cover;
  background-position: center;
  color:blue;
  text-align: center;
  padding: 20px;
  /* grid-template-columns: repeat(2, 1fr);
  gap: 2rem; */
  
}
#about #art1{
    display:grid;
    font-family: Arial, Helvetica, sans-serif;
    border:solid black;
    gap:20px;
    border-radius: 20px;
    height:500px;
    width:200px;
    
}
#footer
{
    background-color:navy;
    color:azure;
}
#address
{display:flex;
    align-items: flex-end;
}
@media (max-width: 600px)
{
    .nav #headerlinks{
        flex-direction: column;
        align-items:flex-start;
        
    }
}
